extends layout

block content
    p(style="text-align: center; font-size: 2.25rem;").lead 404 Page Not Found
    hr
    .error-container
        h1
            i(style="font-family: serif") "Boy, you are lost."
        br
        img(src="/images/404.png", class="satellite-img")